* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend;
}

@font-face {
  font-family: lexend;
  src: url(../fonts/LexendDeca-Regular.ttf);
}

:root {
  --btn-bgcolor: #ff4500;
  --btn-color: #fff;
  --p-color: #777;
  --h-color: #0f346b;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
}

/* ===== header style ===== */
header {
  background: url("../img/header.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 50px;
}

.column {
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.logo {
  width: 180px;
}

h1 {
  color: var(--h-color);
  text-transform: capitalize;
  text-align: center;
}

.btn {
  color: var(--btn-color);
  background-color: var(--btn-bgcolor);
  text-decoration: none;
  text-transform: capitalize;
  padding: 8px 20px;
  margin: 20px 0;
}

.flex small {
  color: var(--p-color);
}

/* ===== HOW IT WORKS STYLE ===== */

section {
  padding: 30px 0;
}

.how-it-works {
  background-color: var(--h-color);
  text-align: center;
}

.box-flex {
  justify-content: space-between;
}

.wh-heading {
  color: var(--btn-color);
}

.box {
  width: 250px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box-img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

h4 {
  margin: 10px 0;
  color: var(--btn-color);
  text-transform: capitalize;
}

.wh-p {
  color: var(--btn-color);
  opacity: 0.8;
}

/* ===== LOVE COOKING STYLES ===== */
.wrapper {
  display: flex;
  padding: 30px 0;
  position: relative;
}

.wrapper::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  border: solid 1px #dedede;
}

.wrapper-img {
  width: 50%;
  height: 250px;
}

.wrapper-txt {
  width: 50%;
  display: grid;
  place-content: center;
}

.wrapper-txt:nth-child(2),
.wrapper-txt:nth-child(3) {
  padding-left: 20px;
}

.wrapper-txt:nth-child(1),
.wrapper-txt:nth-child(4) {
  padding-right: 20px;
}

h3 {
  color: var(--h-color);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.no-border::before {
  display: none;
}

/* ===== READY TO START STYLES ===== */
.inner-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== FOOTER STYLES ===== */
footer {
  background-color: var(--h-color);
  padding: 20px;
}

/* ===== RESPONSIVE STYLES ===== */

@media only screen and (min-width: 280px) and (max-width: 320px) {
  .container {
    width: 80%;
  }

  .column {
    padding: 0;
  }

  .logo {
    width: 140px;
  }

  h1 {
    font-size: 1.4rem;
  }

  .btn {
    font-size: 12px;
  }

  /* ===== HOW IT WORKS STYLE ===== */
  .box-flex {
    flex-direction: column;
  }

  .box {
    width: 100%;
  }



  /* ===== LOVE COOKING STYLE ===== */
  .wrapper {
    gap: 10px;
  }

  .wrapper:nth-child(2),
  .wrapper:nth-child(4) {
    flex-direction: column;
  }

  .wrapper:nth-child(3),
  .wrapper:nth-child(5) {
    flex-direction: column-reverse;
  }

  .wrapper-img,
  .wrapper-txt {
    width: 100%;
  }

  .wrapper-txt:nth-child(2),
  .wrapper-txt:nth-child(3) {
    padding-left: 0;
  }

  .wrapper-txt:nth-child(1),
  .wrapper-txt:nth-child(4) {
    padding-right: 0;
  }


  footer h1{
      font-size: 1rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 414px) {
  .container {
    width: 80%;
  }

  .column {
    padding: 0;
  }

  .logo {
    width: 160px;
  }

  h1 {
    font-size: 1.4rem;
  }

  /* ===== HOW IT WORKS STYLE ===== */
  .box-flex {
    flex-direction: column;
  }

  .box {
    width: 100%;
  }



  /* ===== LOVE COOKING STYLE ===== */
  .wrapper {
    gap: 10px;
  }

  .wrapper:nth-child(2),
  .wrapper:nth-child(4) {
    flex-direction: column;
  }

  .wrapper:nth-child(3),
  .wrapper:nth-child(5) {
    flex-direction: column-reverse;
  }

  .wrapper-img,
  .wrapper-txt {
    width: 100%;
  }

  .wrapper-txt:nth-child(2),
  .wrapper-txt:nth-child(3) {
    padding-left: 0;
  }

  .wrapper-txt:nth-child(1),
  .wrapper-txt:nth-child(4) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .container {
    width: 80%;
  }

  .column {
    padding: 0;
  }

  .logo {
    width: 160px;
  }

  h1 {
    font-size: 1.5rem;
  }

  /* ===== HOW IT WORKS STYLE ===== */
  .box-flex {
    flex-direction: column;
  }

  .box {
    width: 100%;
    flex-direction: row;
    text-align: left;
  }

  .box-img {
    max-width: 200px;
    min-width: 200px;
  }

  .box-txt {
    flex-grow: 1;
    padding-left: 15px;
  }

  /* ===== LOVE COOKING STYLE ===== */
  .wrapper {
    gap: 10px;
  }

  .wrapper:nth-child(2),
  .wrapper:nth-child(4) {
    flex-direction: column;
  }

  .wrapper:nth-child(3),
  .wrapper:nth-child(5) {
    flex-direction: column-reverse;
  }

  .wrapper-img,
  .wrapper-txt {
    width: 100%;
  }

  .wrapper-txt:nth-child(2),
  .wrapper-txt:nth-child(3) {
    padding-left: 0;
  }

  .wrapper-txt:nth-child(1),
  .wrapper-txt:nth-child(4) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 70%;
  }

  .column {
    padding: 0;
  }

  .logo {
    width: 160px;
  }

  /* ===== HOW IT WORKS STYLE ===== */

  .box {
    width: 200px;
  }

  .box-img,
  .box-txt {
    padding: 0 10px;
  }

  /* ===== LOVE COOKING STYLE ===== */
}
